$primary-color: #bbb9b9;
$primary-lighter: rgba(187, 185, 185, 0.8);
$secondary-color: #f7f7f6;
$tertiary-color: #3c3c3c;
$tertiary-lighter: #3c3c3c95;
$font-dark-gray: #5d5c5c;
$eerie-black: #1b1b1b;
$background-gradient: linear-gradient(180deg, #010101 0%, #0e0d0d 72.75%);
$button-background: #282626;
